.box1 {
    width: 200px; /* 고정 너비 */
    height: 100px; /* 높이 */
    padding: 20px;
    background: orange;
}
.box2 {
    width: 50%; /* 부모 요소의 50% */
    height: 100px; /* 높이 */
    background: aquamarine;
}
.box3 {
    width: auto;
    height: auto;
    background: greenyellow;
}
.span {
    width: auto;
    height: auto;
    background: red;
}
